 <!-- About Section -->
    <section class="success" id="about">
    <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small>It's Nice to Meet You!</small>
                </h1>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="doeun.jpg" alt="">
                <h3>Do-Eun
                    <p><small>[Student]</small></p>
                </h3>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="seon.jpg" alt="">
                <h3>Seon-Young
                    <p><small>[Student]</small></p>
                </h3>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="eun.jpg" alt="">
                <h3>Eun-Bin
                    <p><small>[Student]</small></p>
                </h3>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="jo.jpg" alt="">
                <h3>Deun-Sol
                    <p><small>[Student]</small></p>
                </h3>
            </div>
    </section>
