 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
		<p>컴퓨터 시스템 기초 설계<br> 2분반 6조<br> 2014136105 임도은<br> 2014136109 장선영<br> 2014136118 조든솔<br> 2014136129 최은빈<br></p>
                </div>
                <div class="col-lg-4">
                    <p>" "</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> "  "
                    </a>
                </div>
            </div>
        </div>
    </section>
