    <!-- Footer -->
    <footer class="text-center">
<footer class="entry-meta">
	
	<div class="social-share">
	<ul class="socialcount socialcount-small inline-list" data-url="http://geoncheollee.github.io/geonblog/index.html" data-share-text="">
	<li class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u=https://github.com/whemsthf123/whemsthf123.github.com" title="Share on Facebook"><span class="count"><i class="fa fa-facebook-square"></i> Like</span></a></li>
	<li class="twitter"><a href="https://twitter.com/intent/tweet?text=https://github.com/whemsthf123/whemsthf123.github.com" title="Share on Twitter"><span class="count"><i class="fa fa-twitter-square"></i> Tweet</span></a></li>
	<li class="googleplus"><a href="https://plus.google.com/share?url=https://github.com/whemsthf123/whemsthf123.github.com" title="Share on Google Plus"><span class="count"><i class="fa fa-google-plus-square"></i> +1</span></a></li>
	</ul>
	</div><!-- /.social-share -->
	</footer>
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>{{ site.footer.location }}</h3>
                        <p>
                            {% for adress in site.address %}
                                {{ adress.line }} <br>
		                    {% endfor %}
                        </p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>{{ site.footer.social }}</h3>
                        <ul class="list-inline">
                            {% for network in site.social %}
                            <li>
                                <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
                            </li>
		                    {% endfor %}
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>{{ site.footer.credits }}</h3>
                        <p>{{ site.credits }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; {{ site.footer.copyright }} 20{{ site.time | date: '%y' }}
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
