 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.name }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <p>{{ post.description }}</p>
                            <ul class="list-inline item-details">
 				<li>Date:
                                    <strong>{{ post.project-date }}
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="https://twitter.com/madeleine0829">{{ post.category }}</a>
                                    </strong>
                                </li>
                            </ul>
<footer class="entry-meta">
	
	<div class="social-share">
	<ul class="socialcount socialcount-small inline-list" data-url="http://geoncheollee.github.io/geonblog/index.html" data-share-text="">
	<li class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u=https://github.com/whemsthf123/whemsthf123.github.com" title="Share on Facebook"><span class="count"><i class="fa fa-facebook-square"></i> Like</span></a></li>
	<li class="twitter"><a href="https://twitter.com/intent/tweet?text=https://github.com/whemsthf123/whemsthf123.github.com" title="Share on Twitter"><span class="count"><i class="fa fa-twitter-square"></i> Tweet</span></a></li>
	<li class="googleplus"><a href="https://plus.google.com/share?url=https://github.com/whemsthf123/whemsthf123.github.com" title="Share on Google Plus"><span class="count"><i class="fa fa-google-plus-square"></i> +1</span></a></li>
	</ul>
	</div><!-- /.social-share -->
	</footer>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
